.filtresContainer{
    margin: 40px 0;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;

    .filters{
        display: flex;
        justify-content: space-between;

        .filterLabel{
            margin: auto 10px;
        }

        .searchInput{
            min-width: 300px;
        }

        .myButton{
            margin-left: 30px;
        }

    }

    .searchInput{
        border-radius: 5px;
        border: 1px solid lightslategray;
        padding-left: 5px;

        &:focus{
            outline: none;
        }
    }
  
}

.SubjectPreview{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 20px;
    padding: 25px;

    

    .spHeader{
        margin-right: 20px;
        display: inline-flex;
        width: 100%;

        h5{
            margin: auto;
            padding: auto ;
        }
    }

    .spContent{
        padding: 20px;
        
    }
}

.subjectContainer{
    background-color: whitesmoke;
    padding: 15px ;
    border-radius: 10px;

    

    .sInfo{
        display: inline-flex;
    }
}

.commentTitle{
    margin-top: 20px;
}

.commentPreview{
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    padding: 15px;
    margin : 30px;
}

.addingComment{
    margin-top: 40px;
    

    .addCommentForm{
        margin: 30px 20px;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 15px;

        .newComment{
            border-radius: 10px;
            padding: 10px;
            width: 95%;
            height: unset;
            border: 1px solid rgb(151, 151, 151);
            min-height: 100px;
    
            margin: 2%;
            
            &:focus{
                outline: none;
            }
        }
    }    
}

