.myNavBar {
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: space-between;

  

  .headerLeft {
    padding: 20px 10px;
    display: inline-flex;
    .titleLeft {
      text-decoration: none;
      color: whitesmoke;
      font-size: 20px;
      padding-right: 10px;
    }
  }

  .headerRight {
    padding: 20px;
    display: flex;
    width: max-content;
  }

  .headerBtn {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;

    &:hover {
      text-decoration: none;
      color: rgb(148, 148, 148);
    }
  }

  .subnav{
    display: flex;

    .headerBtn{
      display: flex;
    }
    .arrow-down {
      width: 0; 
      height: 0; 
      margin: auto 5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid whitesmoke;
    }
    .subnav-content{
      display: none;
    }
    

    &:hover{
      display: block;

      .arrow-down{
        border-top: 5px solid rgb(148, 148, 148);
      }

      .subnav-content{
        position: absolute;
        padding: 0px 15px 0 0;
        display: block;
        padding: 15px 30px;
        border-radius: 5px;
        background-color: rgb(55, 55, 55);
      }
    }
  }
}
