.userTable{
    width: 100%;
    padding: 100px;

    td, th{
        padding: 10px;
        border: 1px solid #ddd;
    }

    thead{
        td{
            font-weight: bold;
        }
    }

    tbody{
        tr{
            &:hover{
                background-color: #ddd;
            }
        } 
    }
}

.ugContainer{
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 15px;
}