$textColor: white;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.white {
  color: $textColor;
}

.flex {
  display: flex;
  .myRedButton{
    margin-left: auto;
  }
}

.myButton {
  text-decoration: none;
  color: whitesmoke;
  background-size: 200% auto;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  width: fit-content;
  background-image: linear-gradient(to right, #4a6f86 0%, #26a0da 51%, #314755 100%);
  transition: 0.4s;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
}
.myRedButton {
  text-decoration: none;
  color: whitesmoke;
  background-size: 200% auto;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  width: fit-content;
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
  transition: 0.4s;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
}



.pageContainer {
  background: linear-gradient(to top right, rgb(55, 55, 55), white /*#FFECC2, #FFF6E1*/);
  background-attachment: fixed;
  flex: 1;
  padding: 10px 0px 100px 0px;
}

.clickable-link {
  text-decoration: none;
  color: #0029a4;
}

.form {
  position: inherit;
}

#registerForm {
  margin: 0 auto; /* => margin: 0(top) auto(right) 0(bottom) auto(left); 
  margin: 0 25px 25px; => margin: 0 25px 25px 25px;
  */
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.OKmsg {
  height: 0;
  width: 100%;
  transition: height 0.4s;
  visibility: hidden;
  overflow: hidden;
  background-color: #77d17e;
  border-radius: 10px;
}

.OKmsg.is-displayed {
  height: 45px;
  padding: 10px 30px;
  margin-bottom: 20px;
  visibility: visible;
}

.NOTOKmsg {
  height: 0;
  width: 100%;
  transition: height 0.4s;
  visibility: hidden;
  overflow: hidden;
  background-color: #ff6262;
  border-radius: 10px;
}

.NOTOKmsg.is-displayed {
  height: 45px;
  padding: 10px 30px;
  margin-bottom: 20px;
  visibility: visible;
}

.sel {
  border-radius: 7px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 98%;
  }
}

@import "../src/assets/scss/header.scss";
@import "../src/assets/scss/articlePreview.scss";
@import "../src/assets/scss/forum.scss";
@import "../src/assets/scss/userGestion.scss";
